.App {
  background-color: #202124;;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Title_Wrapper {
  background-color: ivory;
}

#Name_Input_Wrapper {
  background-color: ivory;
}

#Rules_Wrapper {
  background-color: ivory;
}